@import "./../../style/variables";


$side: 35px;
$mediumSide: 33px;
$shortSide: 30px;
$planeDistance: 100px;
$particulesDistance: 300px;
$shortParticulesDistance: 80px;
$baseColor: $sphereBaseColor;
$squeletonColor: $sphereSqueletonColor;
$perspective: 300px;

@mixin plane($w, $h) {
    width: $w;
    height: $h;
    transform-style: preserve-3d;
}

@mixin view() {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    perspective: $perspective;
}

@mixin shortView() {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 25vh;
    perspective: $perspective;
}

@mixin center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.view {
    @include shortView();
}

.plane {
    @include plane($shortSide, $shortSide);
    &.main {
        @include center;
        transform: rotateX(60deg) rotateZ(-30deg);
        animation: rotate 20s infinite linear;

        .circle {
            width: $shortSide;
            height: $shortSide;
            position: absolute;
            transform-style: preserve-3d;
            border-radius: 100%;
            border: 2px solid $squeletonColor;
            box-sizing: border-box;
            box-shadow: 0 0 60px rgba($baseColor, 1), inset 0 0 60px rgba($baseColor, 1);

            &::before,
            &::after {
                content: "";
                display: block;
                @include center;
                width: 10%;
                height: 10%;
                border-radius: 100%;
                background: rgba($squeletonColor, 1);
                box-sizing: border-box;
                box-shadow: 0 0 60px 2px rgba($squeletonColor, 1);
            }

            &::before {
                transform: translateZ(-$shortParticulesDistance);
            }
            &::after {
                transform: translateZ($shortParticulesDistance);
            }

            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    transform: rotateZ($i / 5 * 360deg) rotateX(63.435deg);
                }
            }
        }
    }
}

@keyframes rotate {

    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); /* You can add global styles to this file, and also import other style files */
    }
}

@media (min-width: 767px) {
     .view {
        @include shortView();
    }
    .plane {
        @include plane($mediumSide, $mediumSide); /* this makes the trajectoria */
        &.main {
            @include center;
            transform: rotateX(60deg) rotateZ(-30deg);
            animation: rotate 18s infinite linear;

            .circle {
                width: $mediumSide;
                height: $mediumSide;
                &::before {
                    transform: translateZ(-$particulesDistance);
                }
                &::after {
                    transform: translateZ($particulesDistance);
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .view {
        @include view();
    }
    .plane {
        @include plane(0, 0); /* this makes the trajectoria */
        &.main {
            @include center;
            transform: rotateX(60deg) rotateZ(-30deg);
            animation: rotate 18s infinite linear;

            .circle {
                width: $side;
                height: $side;
                &::before {
                    transform: translateZ(-$particulesDistance);
                }
                &::after {
                    transform: translateZ($particulesDistance);
                }
            }
        }
    }
}

