.front {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.front app-base {
    z-index: 9999;
    // text-align: center;
}

@media (min-width: 1024px) {
    .front {
        justify-content: unset;
        padding-left: 15vw;
    }
}

@media (max-width: 1023px) {
    .front app-base {
        text-align: center;
    }
}

