.front {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    z-index: 9999;
}

@media (max-width: 767px) {
    .wrapper {
        margin-bottom: auto;
        margin-top: 35vh;
    }
}


@media (min-width: 1024px) {
    .front {
        justify-content: unset;
        padding-left: 15vw;
    }
}

@media (max-width: 1023px) {
    .front app-base {
        text-align: center;
    }
}

