@import "./../../style/variables";

h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 1.3rem;
    margin: 0;
    margin-top: 0.25rem;
}

h1, h2 {
    color: $color1;
    font-family: monospace;
}

.highligh {
    cursor: pointer;
    color: $sphereSqueletonColor;
    position: relative;
}

.typing__wrapper {
    display: flex;
    justify-content: center;
}

.typing {
    animation: typing 2s steps(30), blink .5s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 1.5rem;
        width: 0
}

@keyframes typing {
    to {
        width: 13ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.highligh:after {
    margin-top: 0.1rem;
    content: '';
    border-bottom: 2px solid $sphereSqueletonColor;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

@media (min-width: 1024px) {
    h2 {
        margin-top: 1.25rem;
    }
    .typing__wrapper {
        justify-content: unset;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2.25rem;
    }
}
