@import "./../../style/variables";

h1 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1rem;
}

h2 {
    font-size: 0.9rem;
    margin: 0;
}

h2 {
    color: $color1;
    font-family: 'Silkscreen', cursive;
}

.highligh {
    color: $sphereSqueletonColor;
    position: relative;
}

.typing__wrapper {
    display: flex;
    justify-content: center;
}

.typing {
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    width: 0;
}

.student {
    animation: typing-student 2s steps(20) alternate 2, blink .5s infinite;
}

.engineer {
    animation: typing-engineer 2s steps(20) alternate 2, blink .5s infinite;
}

.scientific {
    animation: typing-scientific 2s steps(20) alternate 2, blink .5s infinite;
}


@keyframes typing-student {
    70% {
        width: 9ch;
    }
    to {
        width: 9ch;
    }
}

@keyframes typing-engineer {
    70% {
        width: 11ch;
    }
    to {
        width: 11ch;
    }
}


@keyframes typing-scientific {
    70% {
        width: 15ch;
    }
    to {
        width: 15ch;
    }
}


@keyframes blink {
    50% {
        border-color: transparent
    }
}

@media (min-width: 767px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    h2 {
        margin-top: 0.5rem;
    }
    .typing__wrapper {
        justify-content: unset;
    }
}

