@import "./../../style/variables";

h1 {
    font-size: 3.5rem;
    margin: 0;
}

h2 {
    font-size: 1.3rem;
    margin: 0;
    margin-top: 0.25rem;
}

h1, h2 {
    color: $color1;
    font-family: monospace;
}

.highligh {
    cursor: pointer;
    color: $sphereSqueletonColor;
    position: relative;
}

.typing__wrapper {
    display: flex;
    justify-content: center;
}

.typing {
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    width: 0;
}

.student {
    animation: typing-student 2s steps(20) alternate 2, blink .5s infinite;
}

.engineer {
    animation: typing-engineer 2s steps(20) alternate 2, blink .5s infinite;
}

.scientific {
    animation: typing-scientific 2s steps(20) alternate 2, blink .5s infinite;
}


@keyframes typing-student {
    70% {
        width: 10ch;
    }
    to {
        width: 10ch;
    }
}

@keyframes typing-engineer {
    70% {
        width: 12ch;
    }
    to {
        width: 12ch;
    }
}


@keyframes typing-scientific {
    70% {
        width: 17ch;
    }
    to {
        width: 17ch;
    }
}


@keyframes blink {
    50% {
        border-color: transparent
    }
}

// .highligh:after {
//     margin-top: 0.1rem;
//     content: '';
//     border-bottom: 2px solid $sphereBaseColor;
//     width: 100%;
//     position: absolute;
//     left: 0;
//     bottom: 0;
// }

@media (min-width: 1024px) {
    h2 {
        margin-top: 1.25rem;
    }
    .typing__wrapper {
        justify-content: unset;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2.25rem;
    }
}
